:root {
  --color-mode: "light";

  --bg-lite: #ffffff;
  --prime: #000000;

  --second: #aaaaaa;
  --lite: #444444;
  --link-lite: #444444;

  --bg-dark: #213409;
  --prime-dark: #eef8e3;
  --second-dark: #b0dc7a;
  --lite-dark: #496d1d;
  --link-dark: #7fbd32;
}

body {
  margin: 0;
  background-color: var(--bg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Cinzel",
    "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: var(--bg-lite);
  --primary: var(--prime);
  --secondary: var(--second);
  --light: var(--lite);
  --link: var(--link-lite);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
